*.js
!jest.config.js
*.d.ts
node_modules

# But allow JS and HTML files in the specific directory
!assets/website/static/**/*.js
!assets/website/static/**/*.html

# ignore font files
*.ttf
*.woff
*.woff2

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

.env
.env.*
.DS_Store

# Build outputs
dist/
*.js.map
*.map